<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Peminjaman</title>
</head>
<body>

    <h3>Update Peminjaman</h3>

    <form method="post">
        {% csrf_token %}
        
        <label for="jumlah_peminjaman">Jumlah Peminjaman:</label>
        <input type="number" id="jumlah_peminjaman" name="jumlah_peminjaman" value="{{ getpeminjaman.jumlah_peminjaman }}" required><br><br>
        
        <label for="tanggal_pengajuan">Tanggal Pengajuan:</label>
        <input type="date" id="tanggal_pengajuan" name="tanggal_pengajuan" value="{{ getpeminjaman.tanggal_pengajuan|date:'Y-m-d' }}" required><br><br>
        
        <label for="periode_peminjaman">Periode Peminjaman (Bulan):</label>
        <input type="number" id="periode_peminjaman" name="periode_peminjaman" value="{{ getpeminjaman.periode_peminjaman }}" required><br><br>
        
        <label for="status_peminjaman">Status Peminjaman:</label>
        <input type="checkbox" id="status_peminjaman" name="status_peminjaman" {% if getpeminjaman.status_peminjaman %}checked{% endif %}> Berlangsung<br><br>
        
        <button type="submit">Submit</button>
    </form>

</body>
</html>
