<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "{% url 'performlogin' %}" method="POST"> 
        {% csrf_token %}
        <div class="form-group"> 
            <input type="username" name="username" placeholder = "Masukkan USername">
        </div>
        <div class= "form-group">
            <input type = "password" name="password" placeholder="Masukkan password">
        </div>
        <button type = "submit"> 
            Login 
        </button>
    </form>
</body>
</html>