<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Nasabah</title>
</head>
<body>
    <h3>Create Nasabah</h3>
    <form method="post">
        {% csrf_token %}
        <label>Nama Nasabah</label>
        <input type="text" name="nama_nasabah" >
        <label>Umur Nasabah</label>
        <input type="number" name="umur_nasabah">
        <label>Jenis Kelamin</label>
        <input type="text" name="jenis_kelamin" >
        <label>Alamat Nasabah</label>
        <input type="text" name="alamat_nasabah">
        <label>Nama Perusahaan</label>
        <input type="text" name="nama_perusahaan" >
        <label>Tingkat Pendidikan</label>
        <input type="text" name="tingkat_pendidikan">
        <label>Status Pernikahan</label>
        <label><input type="checkbox" name="status_pernikahan">Menikah</input></label>
        <label>Nama Orang Tua</label>
        <input type="text" name="nama_orang_tua">
        <label>Nama Lengkap Kontak Darurat</label>
        <input type="text" name="nama_lengkap_kontak_darurat">
        <label>Hubungan Dengan Peminjam</label>
        <input type="text" name="hubungan_dengan_peminjam">
        <label>Sisa Kontrak Kerja</label>
        <input type="number" name="penghasilan_perbulan">
        <button type="submit">Submit</button>
    </form>
</body>
</html>