<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Limit Peminjaman</title>
</head>
<body>
    <h3>Create Limit Peminjaman</h3>
    <form method="post">
        {% csrf_token %}
        <label>Nama Pekerjaan</label>
        <select name="nama_pekerjaan">
            {% for i in jenis_pekerjaanobj %}
            <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>

        <br><br>
        
        <label>Nominal_limit</label>
        <input type="number" name="nominal_limit" >
        <button type="submit">Submit</button>
    </form>
</body>
</html>
{% if messages %}
{% for message in messages %}
<ul>
    <li>{{ message }}</li>
</ul>
{% endfor %}
{% endif %}