<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Limit Peminjaman</title>
</head>
<body>
    <a href="{% url 'create_limit_peminjaman' %}"><button>Create Limit Peminjaman</button></a>
    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>ID Limit Peminjaman</th>
                <th>ID Jenis Pekerjaan</th>
                <th>Nominal Limit</th>
                {% if is_owner %}
                <th>Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for i in limit_peminjamanobj %}
                <td>{{ forloop.counter }}</td>
                <td>{{ id.limit_peminjaman }}</td>
                {% for i in jenis_pekerjaanobj %}
                <td>{{ forloop.counter }}</td>
                <td>{{ id.jenis_pekerjaan }}</td>
                <td>{{ i.nominal_limit }}</td>
                {% if is_owner %}
                <td>
                    <a href="{% url 'update_limit_peminjaman' id.limit_peminjaman %}"><button>Update Limit Peminjaman</button></a>
                    <a href="{% url 'delete_limit_peminjaman' id.limit_peminjaman %}"><button>Delete Limit Peminjaman</button></a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}