<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limit Peminjaman</title>
</head>
<body>
    <h3>Update Limit Peminjaman</h3>
    <form method="post">
        {% csrf_token %}
        <label>nominal_limit</label>
        <input type="number" name="nominal_limit" value="{{ getlimit_peminjaman.nominal_limit }}">
        <button type="submit">Submit</button>
    </form>
</body>
</html>