<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Jenis Pekerjaan</title>
</head>
<body>
    <h3>Update Jenis Pekerjaan</h3>
    <form method="post">
        {% csrf_token %}
        <label for="nama_pekerjaan">Nama Pekerjaan</label>
        <input type="text" id="nama_pekerjaan" name="nama_pekerjaan" value="{{ getjenis_pekerjaan.nama_pekerjaan }}" required/>
        
        <label for="penghasilan_perbulan">Penghasilan per Bulan</label>
        <input type="number" id="penghasilan_perbulan" name="penghasilan_perbulan" value="{{ getjenis_pekerjaan.penghasilan_perbulan }}" required/>
        
        <button type="submit">Submit</button>
    </form>

    {% if messages %}
    <div class="messages">
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</body>
</html>
